#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")

#@ if data.values.config.observability["metrics-protocol"] == "prometheus":
#@overlay/match by=overlay.subset({"kind":"Deployment","metadata":{"namespace":"knative-serving"}}), expects="6+"
---
spec:
  template:
    #@overlay/match-child-defaults missing_ok=True
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/scheme: "http"
        prometheus.io/port: "metrics"
        prometheus.io/path: "/metrics"
#@ end
